In [3]:
import rdflib
import pandas as pd

In [4]:
# Load RDF graph
rdf_graph = rdflib.Graph()
rdf_graph.parse("LBD files\smartReview\outputHotel Compliant Revit 2023 Advanced with Spaces.ifc.ttl", format="ttl")

In [5]:
# Getting Storey information 
with open("SPARQL\storeyElevation.txt", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

# Pandas DataFrame
data = []
for row in results:
    data.append([str(row.label), str(row.elevationValue), str(row.Use)])

df = pd.DataFrame(data, columns=["Name", "Elevation", "Use"])
print(df)

              Name           Elevation          Use
0  02-SECOND FLOOR  13.333333333333371         None
1  04-FOURTH FLOOR   35.33333333333337         None
2   03-THIRD FLOOR   24.33333333333337         None
3  01-GROUND FLOOR                   0  Grade Plane

In [26]:
# Getting Areas information 
with open("SPARQL\\areasSpaces.txt", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

# Pandas DataFrame
data = []
for row in results:
    data.append([str(row.levelValue), str(row.name), str(row.occupancyClassification), str(row.id), str(row.areaValue), str(row.storeyHeightValue)])

df = pd.DataFrame(data, columns=["Level", "Name", "Occupancy", "ID", "Area", "Height"])

#hardcode accessory for now
df["Accessory"] = False
df["Percent Area of Story"] = None
print(df)

  Level                    Name Occupancy     ID                Area  \
0    01        Ground Floor Gym       A-3  32254   825.0373394415645
1    01    Ground Floor Banquet       A-2  32254   6108.644158203678
2    01  Ground Floor Breakfast       A-2  32254   779.5649402682602
3    01       Ground Floor Pool       A-3  32254   2086.562270762054
4    01      Ground Floor Guest       R-1  32254   6006.713107638702
5    01   Ground Floor Business         B  32254   3332.097216021819
6    04            Fourth Floor       R-1  32254  15467.274522569236
7    03             Third Floor       R-1  32254  15467.274522569236
8    02            Second Floor       R-1  32254  15467.274522569367
9    01     Ground Floor Public         B  32254   4366.970410816291

               Height  Accessory Percent Area of Story
0                   0      False                  None
1                   0      False                  None
2                   0      False                  None
3                   0      False                  None
4                   0      False                  None
5                   0      False                  None
6   35.33333333333337      False                  None
7   24.33333333333337      False                  None
8  13.333333333333371      False                  None
9                   0      False                  None

In [60]:
# Getting Room information 
with open("SPARQL\\rooms.txt", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

# Pandas DataFrame
data = []
for row in results:
    data.append([str(row.levelValue), str(row.numberAndName), str(row.roomType), str(row.areaValue), str(row.smrvCalcOccupantLoadValue), str(row.flame), str(row.function)])

# Create a DataFrame
df = pd.DataFrame(data, columns=["Level", "Number Name", "Type", "Area", "Occupant Load", "Flame Spread Classification", "Function of Space"])
df["ID"] = None
df["Associated Area"] = None
df["Occupancy Classification"] = None

df

,Level,Number Name,Type,Area,Occupant Load,Flame Spread Classification,Function of Space,ID,Associated Area,Occupancy Classification
0,01,495/King Suite,Room,344.04253472221376,2,C,Residential,None,None,None
1,01,495/King Suite,Room,344.04253472221376,2,C,Residential,None,None,None
2,01,494/King Suite,Room,344.04253472220483,2,C,Residential,None,None,None
3,01,494/King Suite,Room,344.04253472220483,2,C,Residential,None,None,None
4,01,497/1 Bedroom Suite - ADA,Room,267.99999999997726,2,C,Residential,None,None,None
...,...,...,...,...,...,...,...,...,...,...
381,02,201/King Suite,Room,343.50694444437795,2,C,Residential,None,None,None
382,02,283/Linen Storage,Room,145.21332465273156,1,C,Accessory Storage Area,None,None,None
383,02,283/Linen Storage,Room,145.21332465273156,1,C,Accessory Storage Area,None,None,None
384,04,485/Corridor,Corridor,901.2892331506663,5,C,Residential,None,None,None
385,04,485/Corridor,Corridor,901.2892331506663,5,C,Residential,None,None,None

In [61]:
# Getting Exterior Walls information 
with open("SPARQL/exteriorWalls.txt", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

# Prepare the results for DataFrame
data = []
for row in results:
    wall_id = str(row.wall) if row and row.wall else ""
    base_constraint = str(row.baseConstraintValue) if row and row.baseConstraintValue else ""
    top_constraint = str(row.topConstraintValue) if row and row.topConstraintValue else ""
    batid = str(row.batid) if row and row.batid else ""
    fire_rating = str(row.fireRating) if row and row.fireRating else ""
    facing = str(row.facingDirection) if row and row.facingDirection else ""
    smrv_exterior_fire_separation_distance = str(row.smrvExteriorFireSeparationDistanceValue) if row and row.smrvExteriorFireSeparationDistanceValue else ""
    unconnected_height = str(row.unconnectedHeightValue) if row and row.unconnectedHeightValue else ""
    length = str(row.lengthValue) if row and row.lengthValue else ""
    area = str(row.areaValue) if row and row.areaValue else ""
    base_elevation = str(row.baseElevationValue) if row and row.baseElevationValue else ""
    top_elevation = str(row.topElevationValue) if row and row.topElevationValue else ""
    
    data.append([base_constraint, top_constraint, batid, fire_rating, facing, smrv_exterior_fire_separation_distance, unconnected_height, length, area, base_elevation, top_elevation])

df = pd.DataFrame(data, columns=[
    "Starts on Story", 
    "Ends on Story", 
    "ID", 
    "Fire Rating", 
    "Wall Direction Facing",
    "Distance to Property Line", 
    "Unconnected Height", 
    "Length", 
    "Area",
    "Base Height", 
    "Top Height"
])

# Process Base Constraint and Top Constraint to create Story Span
def extract_level_number(level_str):
    # Extract the number from the level string
    parts = level_str.split('-')
    if parts:
        try:
            return int(parts[0])
        except ValueError:
            return None
    return None

def create_story_span(row):
    base_constraint = row["Starts on Story"]
    top_constraint = row["Ends on Story"]
    
    base_level = extract_level_number(base_constraint)
    top_level = extract_level_number(top_constraint.replace("Up to level: ", ""))
    
    if base_level is not None and top_level is not None:
        return f"From {base_level} to {top_level}"
    return ""

df["Story Span"] = df.apply(create_story_span, axis=1)

# Adding additional columns
df["Mark"] = "Not Set"  # hardcoded value 
df["Stacked Wall"] = False  # hardcoded value
df["Wall Function Name"] = "exterior"
df["Exterior"] = True
df["Calculated Function"] = "exterior"
df["Use for Perimeter Calc"] = None

# hostedby prop to get doors and windows?
df["Area of Openings"] = None
df["Percentage Area of Openings"] = None

df

,Starts on Story,Ends on Story,ID,Fire Rating,Wall Direction Facing,Distance to Property Line,Unconnected Height,Length,Area,Base Height,Top Height,Story Span,Mark,Stacked Wall,Wall Function Name,Exterior,Calculated Function,Use for Perimeter Calc,Area of Openings,Percentage Area of Openings
0,01,02,369093,1,Wall Faces Unoccupied Space,200.9833182574975,13.333333333333371,12.075402025017581,124.48551386410598,0,13.333333333333371,From 1 to 2,Not Set,False,exterior,True,exterior,None,None,None
1,01,02,369145,1,Wall Faces Unoccupied Space,202.6055474643932,13.333333333333371,19.060014641648966,216.7957361358934,0,13.333333333333371,From 1 to 2,Not Set,False,exterior,True,exterior,None,None,None
2,01,02,369228,1,Wall Faces Unoccupied Space,125.89519812700523,13.333333333333371,2.6744567047879455,26.818299359051434,0,13.333333333333371,From 1 to 2,Not Set,False,exterior,True,exterior,None,None,None
3,01,02,358135,1,Wall Faces Unoccupied Space,91.9382703059302,13.333333333333371,6.677083333334251,82.35069444445614,0,13.333333333333371,From 1 to 2,Not Set,False,exterior,True,exterior,None,None,None
4,01,02,358096,1,Wall Faces Unoccupied Space,91.4364908821414,13.333333333333371,25.333333333333766,272.4444444444511,0,13.333333333333371,From 1 to 2,Not Set,False,exterior,True,exterior,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,02,03,361138,1,Wall Faces Unoccupied Space,130.06203499106255,11,6.968749999998984,82.1562500000008,13.333333333333371,24.33333333333337,From 2 to 3,Not Set,False,exterior,True,exterior,None,None,None
77,02,03,361133,1,Wall Faces Unoccupied Space,76.27119536154648,11,79.99999999999977,766.4999999999978,13.333333333333371,24.33333333333337,From 2 to 3,Not Set,False,exterior,True,exterior,None,None,None
78,02,03,361132,1,Wall Faces Unoccupied Space,211.34498832234237,11,6.968750000001741,76.65625000001931,13.333333333333371,24.33333333333337,From 2 to 3,Not Set,False,exterior,True,exterior,None,None,None
79,02,03,361131,1,Wall Faces Unoccupied Space,83.24075139887745,11,47.36458333333241,467.01041666665657,13.333333333333371,24.33333333333337,From 2 to 3,Not Set,False,exterior,True,exterior,None,None,None
80,02,03,361130,1,Wall Faces Unoccupied Space,161.87333552790733,11,65.85416666666669,724.3958333333337,13.333333333333371,24.33333333333337,From 2 to 3,Not Set,False,exterior,True,exterior,None,None,None

In [33]:
# Getting Interior Walls information 
with open("SPARQL/interiorWalls.txt", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

# Prepare the results for DataFrame
data = []
for row in results:
    wall_id = str(row.wall) if row and row.wall else ""
    base_constraint = str(row.baseConstraintValue) if row and row.baseConstraintValue else ""
    top_constraint = str(row.topConstraintValue) if row and row.topConstraintValue else ""
    batid = str(row.batid) if row and row.batid else ""
    fire_rating = str(row.fireRating) if row and row.fireRating else ""
    facing = str(row.facingDirection) if row and row.facingDirection else ""
    unconnected_height = str(row.unconnectedHeightValue) if row and row.unconnectedHeightValue else ""
    length = str(row.lengthValue) if row and row.lengthValue else ""
    area = str(row.areaValue) if row and row.areaValue else ""
    base_elevation = str(row.baseElevationValue) if row and row.baseElevationValue else ""
    top_elevation = str(row.topElevationValue) if row and row.topElevationValue else ""
    
    data.append([base_constraint, top_constraint, batid, fire_rating, facing, unconnected_height, length, area, base_elevation, top_elevation])

df = pd.DataFrame(data, columns=[
    "Starts on Story", 
    "Ends on Story", 
    "ID", 
    "Fire Rating", 
    "Wall Facing Direction",
    "Unconnected Height", 
    "Length", 
    "Area",
    "Base Elevation", 
    "Top Elevation"
])

# Process Base Constraint and Top Constraint to create Story Span
def extract_level_number(level_str):
    # Extract the number from the level string
    parts = level_str.split('-')
    if parts:
        try:
            return int(parts[0])
        except ValueError:
            return None
    return None

def create_story_span(row):
    base_constraint = row["Starts on Story"]
    top_constraint = row["Ends on Story"]
    
    base_level = extract_level_number(base_constraint)
    top_level = extract_level_number(top_constraint.replace("Up to level: ", ""))
    
    if base_level is not None and top_level is not None:
        return f"From {base_level} to {top_level}"
    return ""

# Ensure `create_story_span` returns a string for each row
df["Story Span"] = df.apply(lambda row: create_story_span(row), axis=1)

# Adding additional columns
df["Mark"] = "Not Set"  # hardcoded value 
df["Stacked Wall"] = False  # hardcoded value
df["Wall Function Name"] = "interior" #hardcoded value
df["Exterior"] = False #hardcoded value 
df["Calculated Function"] = "interior" #hardcoded value
df["Bearing"] = False #hardcoded Value

print(df)

   Starts on Story Ends on Story      ID Fire Rating  \
0               01            02  369093           1
1               01            02  369145           1
2               01            02  369228           1
3               01            02  358135           1
4               01            02  358096           1
..             ...           ...     ...         ...
76              02            03  361138           1
77              02            03  361133           1
78              02            03  361132           1
79              02            03  361131           1
80              02            03  361130           1

          Wall Facing Direction  Unconnected Height              Length  \
0   Wall Faces Unoccupied Space  13.333333333333371  12.075402025017581
1   Wall Faces Unoccupied Space  13.333333333333371  19.060014641648966
2   Wall Faces Unoccupied Space  13.333333333333371  2.6744567047879455
3   Wall Faces Unoccupied Space  13.333333333333371   6.677083333334251
4   Wall Faces Unoccupied Space  13.333333333333371  25.333333333333766
..                          ...                 ...                 ...
76  Wall Faces Unoccupied Space                  11   6.968749999998984
77  Wall Faces Unoccupied Space                  11   79.99999999999977
78  Wall Faces Unoccupied Space                  11   6.968750000001741
79  Wall Faces Unoccupied Space                  11   47.36458333333241
80  Wall Faces Unoccupied Space                  11   65.85416666666669

                  Area      Base Elevation       Top Elevation   Story Span  \
0   124.48551386410598                   0  13.333333333333371  From 1 to 2
1    216.7957361358934                   0  13.333333333333371  From 1 to 2
2   26.818299359051434                   0  13.333333333333371  From 1 to 2
3    82.35069444445614                   0  13.333333333333371  From 1 to 2
4    272.4444444444511                   0  13.333333333333371  From 1 to 2
..                 ...                 ...                 ...          ...
76    82.1562500000008  13.333333333333371   24.33333333333337  From 2 to 3
77   766.4999999999978  13.333333333333371   24.33333333333337  From 2 to 3
78   76.65625000001931  13.333333333333371   24.33333333333337  From 2 to 3
79  467.01041666665657  13.333333333333371   24.33333333333337  From 2 to 3
80   724.3958333333337  13.333333333333371   24.33333333333337  From 2 to 3

       Mark  Stacked Wall Wall Function Name  Exterior Calculated Function  \
0   Not Set         False           interior     False            interior
1   Not Set         False           interior     False            interior
2   Not Set         False           interior     False            interior
3   Not Set         False           interior     False            interior
4   Not Set         False           interior     False            interior
..      ...           ...                ...       ...                 ...
76  Not Set         False           interior     False            interior
77  Not Set         False           interior     False            interior
78  Not Set         False           interior     False            interior
79  Not Set         False           interior     False            interior
80  Not Set         False           interior     False            interior

    Bearing
0     False
1     False
2     False
3     False
4     False
..      ...
76    False
77    False
78    False
79    False
80    False

[81 rows x 17 columns]

In [43]:
# Getting Door information 
with open("SPARQL\doors.txt", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

# Prepare the results for DataFrame
data = []
for row in results:
    door_url = str(row.door) if row and row.door else ""
    level = str(row.levelValue) if row and row.levelValue else ""
    mark = str(row.mark) if row and row.mark else ""
    fire_rating = str(row.fireRating) if row and row.fireRating else ""
    egress_type = str(row.egressType) if row and row.egressType else ""
    id = str(row.id) if row and row.id else ""
    base_elevation = str(row.baseElevationValue) if row and row.baseElevationValue else ""
    height = str(row.heightValue) if row and row.heightValue else ""
    width = str(row.widthValue) if row and row.widthValue else ""
    area = str(row.areaValue) if row and row.areaValue else ""
    
    data.append([level, mark, fire_rating, egress_type, id, base_elevation, height, width, area])

df = pd.DataFrame(data, columns=["Level", "Mark", "Fire Rating", "Egress Type", "ID", "Base Height", "Height", "Width", "Area"])

df["From Room"] = None  
df["To Room"] = None 
df["Door Swings Towards"] = None 

print(df)

    Level Mark Fire Rating Egress Type      ID         Base Height  \
0      02  495     0 hours              504013  13.333333333333371
1      02  496     0 hours              504042  13.333333333333371
2      02  497     0 hours              504044  13.333333333333371
3      02  487     0 hours              503955  13.333333333333371
4      02  488     0 hours              503957  13.333333333333371
..    ...  ...         ...         ...     ...                 ...
285    03  409     0 hours              422060   24.33333333333337
286    03  405     0 hours              422056   24.33333333333337
287    03  407     0 hours              422058   24.33333333333337
288    04  418     0 hours              422069   35.33333333333337
289    04  424     0 hours              422075   35.33333333333337

                 Height               Width                Area From Room  \
0    7.2291666666667078  6.2291666666666776  31.925419560283913      None
1    7.2291666666667078  6.2291666666666776  31.925419560283913      None
2    7.2291666666667078  6.2291666666666776  31.925419560283913      None
3    7.2291666666667078  6.2291666666666776  31.925419560283913      None
4    7.2291666666667078  6.2291666666666776  31.925419560283913      None
..                  ...                 ...                 ...       ...
285                  7.  2.9999999999999964   34.37499999999976      None
286                  7.  3.0000000000000031   34.37499999999976      None
287                  7.  3.0000000000000107   34.37499999999976      None
288                  7.  3.0000000000000107   34.37499999999976      None
289                  7.   2.999999999999996   34.37499999999976      None

    To Room Door Swings Towards
0      None                None
1      None                None
2      None                None
3      None                None
4      None                None
..      ...                 ...
285    None                None
286    None                None
287    None                None
288    None                None
289    None                None

[290 rows x 12 columns]

In [47]:
# Getting Windows information 
with open("SPARQL\windows.txt", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

data = []
for row in results:
    window_id = str(row.window) if row and row.window else ""
    level = str(row.levelValue) if row and row.levelValue else ""
    mark = str(row.mark) if row and row.mark else ""
    fireRating = str(row.fireRating) if row and row.fireRating else ""
    height = str(row.heightValue) if row and row.heightValue else ""
    width = str(row.widthValue) if row and row.widthValue else ""
    area = str(row.areaValue) if row and row.areaValue else ""
    
    data.append([level, mark, fireRating, height, width, area])

# Create a DataFrame
df = pd.DataFrame(data, columns=[ "Story", "Mark", "Fire Rating", "Height", "Width", "Area"])

df["Base Height"] = None  
df["Top Height"] = None 
df["Validly Hosted"] = True #if there is a host value? 

# Display the DataFrame
print(df)

    Story Mark Fire Rating              Height               Width  \
0      04  105           1                  6.  3.0000000000000075
1      04  106           1                  6.  3.0000000000000004
2      04  103           1                  6.  3.0000000000000004
3      04  104           1                  6.  3.0000000000000004
4      04  101           1                  6.  3.0000000000000022
..    ...  ...         ...                 ...                 ...
105    01    3           1  6.6666666666666288  3.0000000000000036
106    01    4           1  6.6666666666666288                  3.
107    01    5           1  6.6666666666666288  3.0000000000000107
108    01    6           1  6.6666666666666288  2.9999999999999964
109    01    7           1  6.6666666666666288  2.9999999999999964

                  Area Base Height Top Height  Validly Hosted
0    31.46527777777776        None       None            True
1    31.46527777777776        None       None            True
2    31.46527777777776        None       None            True
3    31.46527777777776        None       None            True
4    31.46527777777776        None       None            True
..                 ...         ...        ...             ...
105  34.49305555555551        None       None            True
106  34.49305555555551        None       None            True
107  34.49305555555551        None       None            True
108  34.49305555555551        None       None            True
109  34.49305555555551        None       None            True

[110 rows x 9 columns]

In [48]:
# Getting Stairs information 
with open("SPARQL\\stairs.sparql", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

# Pandas DataFrame
data = []
for row in results:
    data.append([str(row.label), str(row.baseValue), str(row.topValue), str(row.stairType), str(row.name)])

df = pd.DataFrame(data, columns=["ID", "Base Story", "Top Story", "Stair Type", "Name"])

df["Mark"] = "Not Set"  
df["Room Containg Stair"] = None 

print(df)

       ID Base Story Top Story              Stair Type                  Name  \
0  415870         01        02  Interior Exit Stairway  7 max riser 11 tread
1  417752         02        03  Interior Exit Stairway  7 max riser 11 tread
2  420117         02        03  Interior Exit Stairway  7 max riser 11 tread
3  420699         03        04  Interior Exit Stairway  7 max riser 11 tread
4  418246         03        04  Interior Exit Stairway  7 max riser 11 tread
5  419050         01        02  Interior Exit Stairway  7 max riser 11 tread

      Mark Room Containg Stair
0  Not Set                None
1  Not Set                None
2  Not Set                None
3  Not Set                None
4  Not Set                None
5  Not Set                None

In [81]:
# Getting Areas information 
with open("SPARQL\\exitTravelDist.sparql", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

# Pandas DataFrame
data = []
for row in results:
    data.append([str(row.levelValue), str(row.numberAndName), str(row.exitValue), str(row.commonPathValue), str(row.smrvCalcOccupantLoadValue)])

df = pd.DataFrame(data, columns=["Storey", "Number/Name", "Exit Travel Distance", "Common Path Distance", "Accumulated Occupant Load"])

print(df)

    Storey                Number/Name Exit Travel Distance  \
0       01             495/King Suite                   60
1       01             495/King Suite                   60
2       01             494/King Suite                   63
3       01             494/King Suite                   63
4       01  497/1 Bedroom Suite - ADA                   65
..     ...                        ...                  ...
381     02             201/King Suite                   55
382     02          283/Linen Storage                   45
383     02          283/Linen Storage                   45
384     04               485/Corridor                  118
385     04               485/Corridor                  118

    Common Path Distance Accumulated Occupant Load
0                     40                         2
1                     40                         2
2                     41                         2
3                     41                         2
4                     32                         2
..                   ...                       ...
381                   42                         2
382                   39                         1
383                   39                         1
384                    0                         5
385                    0                         5

[386 rows x 5 columns]

In [57]:
# Getting Floor information 
with open("SPARQL\\floors.sparql", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

data = []
for row in results:
    floor_url = str(row.floor) if row and row.floor else ""
    level = str(row.levelValue) if row and row.levelValue else ""
    id = str(row.id) if row and row.id else ""
    height = str(row.heightValue) if row and row.heightValue else ""
    type = str(row.type) if row and row.type else ""
    area = str(row.areaValue) if row and row.areaValue else ""
    
    data.append([level, id, height, type, area])

# Create a DataFrame
df = pd.DataFrame(data, columns=[ "Story", "ID", "Height", "Type", "Area"])

df["Fire Rating"] = None  

# Display the DataFrame
print(df)

  Story      ID              Height                              Type  \
0    02  364513  13.333333333333371  Floor: SMRV Generic - 12  1 hour
1    04  364631   35.33333333333337  Floor: SMRV Generic - 12  1 hour
2    03  364585   24.33333333333337  Floor: SMRV Generic - 12  1 hour
3    01  364363                   0  Floor: SMRV Generic - 12  1 hour
4    01  364461                   0                        Pad: Pad 1

                 Area Fire Rating
0  15300.955986429224        None
1  15072.367444762418        None
2  15072.367444762418        None
3  23252.810520637257        None
4   23958.36106480408        None

In [59]:
# Getting Floor information 
with open("SPARQL\\roofs.txt", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

data = []
for row in results:
    roof_url = str(row.roof) if row and row.roof else ""
    id = str(row.id) if row and row.id else ""
    type = str(row.type) if row and row.type else ""
    area = str(row.areaValue) if row and row.areaValue else ""
    
    data.append([id, type, area])

# Create a DataFrame
df = pd.DataFrame(data, columns=["ID", "Type", "Area"])

df["Fire Rating"] = None  
df["Flame Spread"] = None 

# Display the DataFrame
print(df)

       ID                                  Type                Area  \
0  366026  Basic Roof: SMRV Generic - 12 1 hour   2225.109485601434
1  365700  Basic Roof: SMRV Generic - 12 1 hour    6053.55061296662
2  444450  Basic Roof: SMRV Generic - 12 1 hour  152.03691142465848
3  365632  Basic Roof: SMRV Generic - 12 1 hour   15654.29769280468

  Fire Rating Flame Spread
0        None         None
1        None         None
2        None         None
3        None         None